<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
</head>

<body>

<form method="POST" th:action="@{/generation}" th:object="${generateUsers}">

    <label for="nameKey">nameKey: </label>
    <input type="text" th:field="*{nameKey}"/>
    <br/>
    <label for="amountUsers">amountUsers: </label>
    <input type="text" th:field="*{amountUsers}"/>

    <br/>
    <input type="submit" value="Submit order"/>
</form>

</body>
</html>
